# **Part 2**

## **Data Wrangling**

Dataset

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("Advertising.csv")
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [2]:
x=data.iloc[:,1:4].values
y=data.iloc[:,4].values

Missing data

In [3]:
miss=data.isnull()
miss

     Unnamed: 0     TV  Radio  Newspaper  Sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
195       False  False  False      False  False
196       False  False  False      False  False
197       False  False  False      False  False
198       False  False  False      False  False
199       False  False  False      False  False

[200 rows x 5 columns]

*Categorize & Concatenation*

In [4]:
data["Sales Type"] = pd.DataFrame(pd.cut(data.Sales, bins=[0,5,15,1000], labels=["low","medium","high"]))
data

     Unnamed: 0     TV  Radio  Newspaper  Sales Sales Type
0             1  230.1   37.8       69.2   22.1       high
1             2   44.5   39.3       45.1   10.4     medium
2             3   17.2   45.9       69.3    9.3     medium
3             4  151.5   41.3       58.5   18.5       high
4             5  180.8   10.8       58.4   12.9     medium
..          ...    ...    ...        ...    ...        ...
195         196   38.2    3.7       13.8    7.6     medium
196         197   94.2    4.9        8.1    9.7     medium
197         198  177.0    9.3        6.4   12.8     medium
198         199  283.6   42.0       66.2   25.5       high
199         200  232.1    8.6        8.7   13.4     medium

[200 rows x 6 columns]

Groupby and Aggregation

In [5]:
tv = data.groupby('Sales Type').agg({'TV': ['sum', 'mean']})
Radio = data.groupby('Sales Type').agg({'Radio': ['sum', 'mean']})
Newspaper = data.groupby('Sales Type').agg({'Newspaper': ['sum', 'mean']})
Newspaper

           Newspaper
                 sum       mean
Sales Type
high          2701.6  36.021333
low             15.4   5.133333
medium        3393.8  27.818033

Reshaping & Pivoting

In [6]:
stacked = data.stack()
stacked

0    Unnamed: 0         1
     TV             230.1
     Radio           37.8
     Newspaper       69.2
     Sales           22.1
                    ...
199  TV             232.1
     Radio            8.6
     Newspaper        8.7
     Sales           13.4
     Sales Type    medium
Length: 1200, dtype: object

## **Data Modeling**

In [7]:
data1=pd.read_csv("Advertising.csv")
data1

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

Dataset

In [8]:
data1.iloc[5,1] = np.nan
data1.iloc[9,3] = np.nan
data1.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    NaN   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6        NaN   10.6

In [9]:
data1.dropna(how='any',axis=0)

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[198 rows x 5 columns]

Missing Values with 0

In [10]:
data1=data1.fillna(0)
data1.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    0.0   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6        0.0   10.6

Missing Values with average of column

In [11]:
data1.fillna(data1.mean()).head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    0.0   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6        0.0   10.6

Normalization

In [12]:
from sklearn import preprocessing

X=data1.iloc[:,1:4].values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
norm = pd.DataFrame(x_scaled)
norm

            0         1         2
0    0.776316  0.762097  0.607018
1    0.150135  0.792339  0.395614
2    0.058030  0.925403  0.607895
3    0.511134  0.832661  0.513158
4    0.609987  0.217742  0.512281
..        ...       ...       ...
195  0.128880  0.074597  0.121053
196  0.317814  0.098790  0.071053
197  0.597166  0.187500  0.056140
198  0.956815  0.846774  0.580702
199  0.783063  0.173387  0.076316

[200 rows x 3 columns]

Data Splitting

In [13]:
from sklearn.model_selection import train_test_split

Y=data1.iloc[:,4].values
X_train, X_test, y_train, y_test = train_test_split(x_scaled, Y, test_size=0.40, random_state=42)

Linear Regression Training

In [14]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
y_pred = model.predict(X_train)

In [16]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_train,y_pred)
mse

2.505241837332932

In [17]:
from sklearn.metrics import r2_score
r2_score(y_train, y_pred)

0.9082575436146725

Testing Error

In [18]:
model1=LinearRegression()
model1.fit(X_test,y_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
y_pred1 = model.predict(X_test)

In [20]:
from sklearn.metrics import mean_squared_error
mse1 = mean_squared_error(y_test,y_pred1)
mse1

3.3640843752059553

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred1)

0.866910055449756